<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hii There !!!</h1>
        <table border="2px">
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            {% for ud in UD %}
                <tr>
                    <td>{{ud.username}}</td>
                    <td>{{ud.first_name}}</td>
                    <td>{{ud.last_name}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>